<!doctype html>

<html>
<head>
<title>De Rosa Gerardo's Home Page</title>

<meta name="author" content="Gerardo De Rosa">
<meta name="keywords" content="De Rosa, Gerardo, Personal Page">
<meta name="description" content="Gerardo De Rosa Personal Page">
<meta name="viewport"
	content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet">
	<link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Raleway"
	rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="static/style.css">

<link rel="shortcut icon" href="Images/logo.png" type="image/png">
<link rel="icon" href="Images/logo.png" type="image/png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
   <link rel="stylesheet" type="text/css" href="static/slick.css"/>
<link rel="stylesheet" type="text/css" href="static/slick-theme.css"/>

<body>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script type="text/javascript" src="static/slick.min.js"></script>
		<div id="background">

		<div id="logon">
<h1>Gerardo De Rosa</h1>
<hr>
		<h2>Computer and Data Scientist, Nerd.</h2></div>
			<a href="#profile" class="scroll-down">
				<span class="glyphicon glyphicon-chevron-down"><i class="fas fa-chevron-down"></i>

</span>
			</a>
		</div>

	<nav id="myTopnav" class="topnav">

<a href="javascript:void(0);" class="icon" onclick="menu()">
			&#9776; </a>

			<li class="dis"><a href="#life">Profile</a></li>
			<li class="dis"><a href="#edwork">Life</a></li>
		<li class="dis"><a href="#skills">Abilities</a></li>
		<li class="dis"><a href="#projects">Projects</a></li>
		<li class="dis"><a href="#contacts">Contacts</a></li>

		</ul>
		<script>
			function menu() {
				var x = document.getElementById("myTopnav");
				var liArr = document.getElementById("myTopnav").getElementsByTagName("li");
				        console.log(found)

				if(found==0){

				for(var i = 0; i < liArr.length; i++) {
    var parent = liArr[i].parentNode;

    if(parent != null && parent.id == "myTopnav") {
       liArr[i].style.display = "block";
        found = 1;
    }}
    }else if(found==1){
    for(var i = 0; i < liArr.length; i++) {
    var parent = liArr[i].parentNode;
    if(parent != null && parent.id == "myTopnav") {
       liArr[i].style.display = "none";
        found = 0;
    }
    }

}
			}
		</script>

		<script>
		window.onscroll = function() {myFunction()};
var navbar = document.getElementById("myTopnav");
				       var found = 0;

		var sticky = navbar.offsetTop;

			function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
		</script>

	</nav>

<div class="container">
	<div id="life">
		<h2 id="h2par">Profile</h2>
		<p>
			<img alt="" id="descrizione" src="./static/Images/me.png">
		</p>
		<div id="descrizione">
			<h3 id="about">About Me</h3>

			<p>
				My name is Gerardo De Rosa, I was born in Nocera Inferiore (SA) in
				Italy in 1996 and I grow up in Nocera Superiore (SA), that's also
				the town where and I still live.<br> I graduated from high
				school with a certificate as Accountant and Programmer, and I'm
				actually an IT student at the University of Salerno; I speak Italian
				(mother tongue) and English (fluent).<br> I have a lot of
				hobbies, among them there are: reading comics and books, watching
				movies and tv-series, playing video-games and also of course
				Programming.<br>

				You can find my <a href="https://drive.google.com/file/d/10yWaHgYcW7WpZp74-CVxEtsfLDLAzBSu/view?usp=sharing">Curriculum</a> here.
			</p>
		</div>
	</div>

</div>

	<div id="edwork">
		<h2 id="h2par">Life</h2>

<div class="worked">
			<h2 class="subtitle">Education</h2>

	<div class="education-stuff">
		<div class="colwhere">
			<h4>Università degli studi di Salerno</h4>
			<p class="experience-period">
				Feb 2019				-
				March 2021			</p>
			</div>
			<div class="det-ed">
	<p>
					<strong>Master’s Degree in Data Science</strong>
					<span class="hidden-phone">
	Main topics: collection, storage, cleaning and mining of data from the internet, artificial intelligence, deep learning and neural networks.<br>
	Grade: 110/110 cum Laude – Thesis on: AI-based algorithms for drone routing in telecommunication scenarios</span>
	
			</p>
		</div>
	</div>

	<div class="education-stuff">
		<div class="colwhere">
<h4>Università degli studi di Salerno</h4>
		<p class="experience-period">
				Sep 2015				-
				Feb 2019			</p>
		</div>
		<div class="det-ed">
<p>
				<strong>Degree in Computer Science</strong>
				<span class="hidden-phone">
Main topics: Programming languages at low and high level, creation of websites, use of algorithms and data structure, data storage, operative systems, networks, parallel and distributed programming.<br>
Grade: 94/110 – Thesis on: Data Science: Deep Learning vs Neural Networks

				</span>
			</p>
		</div>
	</div>

<div class="education-stuff">
		<div class="colwhere">
<h4>I.I.S. Matteo della Corte – Cava de tirreni (SA)</h4>
		<p class="experience-period">
				Sep 2010				-
				Jun 2015			</p>
		</div>
		<div class="det-ed">
<p>
				<strong>Graduate as Accountant, Commercial expert and Programmer</strong>
				<span class="hidden-phone">
				Grade: 100/100


				</span>
			</p>
		</div>
	</div>


			<h2 class="subtitle">Work Experiences</h2>

			
<div class="education-stuff">
	<div class="colwhere">
<h4>Ericsson - Pagani, Campania, Italia</h4>
		<p class="experience-period">
			Feb 2021			-
			Current			</p>
	</div>
	<div class="det-ed">
<p>
			<strong>Developer</strong>
			<span class="hidden-phone">
				Use of Java, Python and Node.js;
				Cloud technologies such as microservices and docker;
				Big Data management;
				Use of Machine Learning techniques<br><br>
			</span>
		</p>
	</div>
	</div>
	

	<div class="education-stuff">
		<div class="colwhere">
<h4>Ericsson - Pagani, Campania, Italia</h4>
		<p class="experience-period">
				Dec 2020			-
				March 2021			</p>
		</div>
		<div class="det-ed">
<p>
				<strong>Traineeship</strong>
				<span class="hidden-phone">
					Study and development of an application that uses RL and AI algorithms to allow drones to find the best path in a grid environment; with the purpose of providing support to existing networks while minding at the energy consumption of the battery and the time elapsed; performing the right number of recharges to reach the goal.<br><br>
<i class="fas fa-link"></i>
					<a href="https://www.youtube.com/watch?v=1rDfhgygHh4"> Thesis Presentation</a>



				</span>
			</p>
		</div>
</div>

	<div class="education-stuff">
		<div class="colwhere">
<h4>Università degli studi di Salerno</h4>
		<p class="experience-period">
				Nov 2018			-
				Jen 2019			</p>
		</div>
		<div class="det-ed">
<p>
				<strong>Traineeship</strong>
				<span class="hidden-phone">
				Study, analysis and experimentation of a dataset of bioinformatics data, the activity carried out was aimed at elaborating an adequate feature selection and subsequently a classification process between two types of leukemia based on neural networks and deep learning.<br><br>
<i class="fas fa-link"></i>
					<a href=" https://github.com/fauxl/Leukemia-Classification"> https://github.com/fauxl/Leukemia-Classification</a>



				</span>
			</p>
		</div>
		
	</div>


</div>



<div class="container">

<div id="skills">
		<h2 id="h2par2">Abilities</h2>

				<h2 class="subtitle">Skills</h2>

<div class="row">


	<div class="col-md-7">
		<ul class="no-bullets">


			<li>
				<span class="ability-title">Java</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>



			<li>
				<span class="ability-title">CSS(3)</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>



			<li>
				<span class="ability-title">HTML(5)</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>

<li>
				<span class="ability-title">SQL</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>

			<li>
				<span class="ability-title">Python</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>

			<li>
				<span class="ability-title">R</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>

<li>
				<span class="ability-title">Web Design</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>
	<li>
			<span class="ability-title">Database Administration</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>
<li>
				<span class="ability-title">O.O.P.</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>

			<li>
				<span class="ability-title">Software Development</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>
<li>
			<span class="ability-title">Mining/Scraping Big Data</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>

			<li>
				<span class="ability-title">NoSQL (MongoDB)</span>
					<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>






		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
<li>
				<span class="ability-title">XML</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>
	<li>
				<span class="ability-title">JSON</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>



			<li>
				<span class="ability-title">JQuery</span>
			<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>


			<li>
				<span class="ability-title">Javascript</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>
<li>
				<span class="ability-title">SPARQL</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>

			<li>
				<span class="ability-title">Machine Learning</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="far fa-star"></i>

					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star "></span>
<i class="fas fa-star"></i>


				</span>
			</li>



			<li>
				<span class="ability-title">Android</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="far fa-star"></i>

					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star "></span>
<i class="fas fa-star"></i>


				</span>
			</li>

	<li>
				<span class="ability-title">XPath</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="far fa-star"></i>

					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star "></span>
<i class="fas fa-star"></i>


				</span>
			</li>


			<li>
				<span class="ability-title">Prolog/Datalog</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="far fa-star"></i>

					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star "></span>
<i class="fas fa-star"></i>


				</span>
			</li>

			<li>
				<span class="ability-title">C</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="far fa-star"></i>

					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star "></span>
<i class="fas fa-star"></i>


				</span>
			</li>



			<li>
				<span class="ability-title">C#</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="far fa-star"></i>

					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star "></span>
<i class="fas fa-star"></i>


				</span>
			</li>

			<li>
				<span class="ability-title">C++</span>
					<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="far fa-star"></i>

					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star "></span>
<i class="fas fa-star"></i>


				</span>
			</li>

		</ul>
	</div>


</div>

</div>

			<h2 class="subtitle">Languages</h2>

<div class="row">


	<div class="col-md-7">
		<ul class="no-bullets">


			<li>
				<span class="ability-title">Italian (mother tongue)</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>

		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
<li>
				<span class="ability-title">English (Fluent)</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>


		</ul>
	</div>


</div>
	<h2 class="subtitle">Software</h2>

<div class="row">


	<div class="col-md-7">
		<ul class="no-bullets">


			<li>
				<span class="ability-title">Eclipse</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
			<li>
				<span class="ability-title">MySQL/Xampp</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
			<li>
				<span class="ability-title">PyCharm</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>

			<li>
				<span class="ability-title">RStudio</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
			<li>
				<span class="ability-title">Google Chrome</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
	<li>
				<span class="ability-title">Microsoft Office</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
			<li>
				<span class="ability-title">Microsoft Windows</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>

			<span class="ability-title">Linux</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
			<li>
			<span class="ability-title">Balsamiq Mockup</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">


<li>
			<span class="ability-title">Git/GitHub</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
			<li>
			<span class="ability-title">Adobe Photoshop</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>

			<li>
				<span class="ability-title">Notepad++</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
<li>
				<span class="ability-title">Apache Tomcat</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>

<li>
				<span class="ability-title">Android Studio</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>



				</span>
			</li>
	<li>
				<span class="ability-title">Protégé</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="fas fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
<li>
				<span class="ability-title">Unity</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>
	</span>
			</li>
<li>
				<span class="ability-title">Apache Jena</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
			<li>
				<span class="ability-title">MATLAB</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>
<i class="far fa-star"></i>



					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


					<span class="glyphicon glyphicon-star filled"></span>

<i class="fas fa-star"></i>


				</span>
			</li>
		</ul>
	</div>


</div>
</div>
</div>

		<div id="projects">
		<h2 id="h2par">Projects</h2>
			<div id="proj">
							<p class="pdes">Here there are some of the projects i've worked on. All my projects can be retrieved on my <a href="https://github.com/fauxl">GitHub</a> account.</p>

<section class="center slider">
    <div>
      <a href="https://github.com/fauxl/TripPlanner"><img alt="" src="./static/Images/tp.png"></a>
    </div>
    <div>
		<a href="https://github.com/fauxl/CultureSpot"><img alt="" src="./static/Images/cp.png"></a>
    </div>
    <div>
		<a href="https://github.com/fauxl/BookManagment"><img alt="" src="./static/Images/bm.png"></a>
	</div>
    <div>
<a href="https://github.com/fauxl/e-comix"><img alt="" src="./static/Images/ex.png"></a>
    </div>
    <div>
<a href="https://github.com/fauxl/e-comix"><img alt="" src="./static/Images/ec.png"></a>
    </div>

  </section>

				</div>
			<div id="proj2">
							<p class="pdes">Here there are some of the projects i've worked on. All of my projects can be retrieved on my <a href="https://github.com/fauxl">GitHub</a> account.</p>

<section class="center2 slider">
    <div>
      <a href="https://github.com/fauxl/TripPlanner"><img alt="" src="./static/Images/tp.png"></a>
    </div>
    <div>
		<a href="https://github.com/fauxl/CultureSpot"><img alt="" src="./static/Images/cp.png"></a>
    </div>
    <div>
		<a href="https://github.com/fauxl/BookManagment"><img alt="" src="./static/Images/bm.png"></a>
	</div>
    <div>
<a href="https://github.com/fauxl/e-comix"><img alt="" src="./static/Images/ex.png"></a>
    </div>
    <div>
<a href="https://github.com/fauxl/e-comix"><img alt="" src="./static/Images/ec.png"></a>
    </div>

  </section>

				</div>
</div>

 <script type="text/javascript">
    $(document).on('ready', function() {

      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 2
      });

    });
</script>


 <script type="text/javascript">
    $(document).on('ready', function() {

      $(".center2").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 1,
        slidesToScroll: 2
      });

    });
</script>

		</div>
</div>
		</div>
	<footer>
		<div id="contacts">
						<h2 id="h2par3">Contacts</h2>
<hr>
			<div id="firstcol">
			<p class="social">
			<a href="https://www.instagram.com/fauxl96/"><i class="fab fa-instagram"></i> Instagram</a></p>
			<p class="social">
				<a href="https://www.facebook.com/FauxL"><i class="fab fa-facebook"></i> Facebook</a></p>
			<p class="social">
			<a href=" https://t.me/fauxl"><i class="fab fa-telegram"></i> Telegram</a></p>
				</div>
						<div id="secondcol">

					<p class="social">

							<a href="https://www.linkedin.com/in/gerardo-de-rosa-141554163/"><i class="fab fa-linkedin"></i> Linkedin</a></p>
			<p class="social">

							<a href="https://github.com/fauxl"><i class="fab fa-github"></i> GitHub</a></p>

								<p class="social">
							<a href="mailto:gerardo_de_rosa@libero.it">			<i class="fas fa-envelope"></i> Mail</a></p>
						</div>
			<hr>
		</div>

		<h3 id="fh3">Copyright &#169; 2022 by De Rosa Gerardo</h3>
	</footer>

</body>

</html>